<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- 引入样式文件和动态控制 -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <title><%= title %></title>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a class="icon-bar" href="/admin">主页</a></li>
                <li><a href="/admin/station_add">增加站点</a></li>
                <li><a href="/admin/station_edit">编辑站点信息</a></li>
                <li><a href="/admin/route_add">增加线路</a></li>
                <li><a href="/admin/route_edit">编辑线路信息</a></li>
                <li class="active"><a href="#">用户管理</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a style="cursor: default">欢迎你，<%= admin %></a>
                </li>
                <li><a href="/admin_login">退出登录</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <a href="/admin" class="list-group-item">
                <span class="glyphicon glyphicon-home"></span>主页
            </a>
            <a href="station_add" class="list-group-item">
                <!-- 小图标样式设置 -->
                <span class="glyphicon glyphicon-plus" aria-hidden="true">
                    </span>增加站点</a>
            <a href="/admin/station_edit" class="list-group-item">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">
                    </span>编辑站点信息</a>
            <a href="/admin/route_add" class="list-group-item">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true">
                    </span>增加线路</a>
            <a href="/admin/route_edit" class="list-group-item">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">
                    </span>编辑线路信息</a>
            <a href="#" class="list-group-item active">
                        <span class="glyphicon glyphicon-user" aria-hidden="true">
                    </span>普通用户管理</a>
        </div>
        <!--左边菜单栏-->
        <div class="col-sm-10">
            <ol class="breadcrumb">
                <li class="active">菜单
                </li>
                <li class="active">用户管理
                </li>
            </ol>

            <div class="table-responsive">
                <table class="table table-striped ">
                    <thead>
                    <tr>
                        <th>用户名</th>
                        <th>密码</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/user_edit.js"></script>
</html>